@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.navmenu {  
  background-color: black;
  display: flex;  
  justify-content: space-around;
  width: 100%;
  height: 70px;
}



.logo{
  margin-top: 20px;
  width: 75px;
  height: 28px;
} 

.carrito{
  margin-top: 20px;
  width: 35px;
  height: 30px;
}

.ulBarra {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  width: 60%;
  margin: 0px;
  padding: 0px;
}

li{
  margin-top: 15px;
  height: 30px;
  display: inline-block;
  justify-content: center;
				color: white;
				font-size: 18px;
        font-family: 'Montserrat', sans-serif;

}
a{
  text-decoration: none;
  color: white;
}
a:hover {
	color: lightblue;
	cursor: pointer;
}

.img {width: 20px; height: 20px;}
/*
#root{
 display: flex;
 flex-direction: row;
}

.cajanav{
  height: 80px;
  width: 100%;
}
.hola{
  display: flex;
 flex-direction: row;
}
.cajacontenedora{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: gray;
height: 1500px;
width: 100%;
}

.cajamedimg{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  width: 100%;
  background-color: hotpink;
}

.medimg {
  height: 100px;
  width: 40px;
  flex-direction: row;
  background-color: green;
  
}


*/









.App {
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
